body,
html,
#root {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 18px;
  color: white;
  background-color: black;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  background-color: black;
  text-align: center;
  width: 100%;
  border-bottom: 3px solid #5b5b5b;
  flex: 0 1 auto;
}

.logo {
  margin: 10px auto;
}

main {
  background-image: url('../../img/chain-on-dark-free-photos-1424424.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1 1 auto;
}

footer {
  color: #5b5b5b;
  font-size: 0.6rem;
  text-align: center;
  padding: 2vh;
  flex: 0 1 5vh;
  line-height: 1.2rem;
}

footer a {
  color: #5b5b5b;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.loveline {
  line-height: 2rem;
}

.intervals-area {
    margin: 20px;
    border: 2px solid #d3d3d3;
    background-color: rgb(91, 91, 91, 0.7);
    text-align: center;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}
