.MaintenanceBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.delete-button {
    padding: 0 10px;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 70%;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    margin: 5px;
}

.progress {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.progress-fill {
    width: 50%;
    height: 100%;
    background-color: rgba(35, 125, 158, 1);
}

.progress-change {
    position: relative;
    height: 100%;
    background-color: #4BC1EB;
    z-index: 1;
}



.interval-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 7px;
    z-index: 2;
}

.progress-number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 2;
}

.progress-number span {
    color: #EB9E4B;
    font-weight: bold;
}

.done-checkbox {
    padding: 0 15px;
}