.MaintenanceBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.delete-button {
    padding: 0 10px;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 70%;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #9E5B13;
    margin: 5px;
}

.progress {
    position: relative;
    width: 100%;
    /* background-color: #d3d3d3; */
    height: 100%;
}

.progress-fill {
    width: 50%;
    height: 100%;
    background-color: #237D9E;
}

.interval-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 7px;
}

.progress-number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px
}

.done-checkbox {
    display: none;
    padding: 0 15px;
}