.button {
    color: #EB9E4B;
    margin: 5px auto;
    cursor: pointer;
}

.button:hover {
    color: #9E5B13;
    border-radius: 100%;
}

.button:active {
    transform: scale(1.1);
}

.inserting {
    animation: scale-up 0.5s ease-in forwards;
}

@keyframes scale-up {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

.show-up {
    animation: show-up 300ms forwards;
    transform-origin: top center;
}

@keyframes show-up {
    0% {
        visibility: hidden;
        height: 0;
        transform: scaleY(0.05);
    }
    2% {
        visibility: visible;
        transform: scaleY(0.05);
    }
    100% {
        visibility: visible;
        height: 100%;
        transform: scaleY(1);
    }
}

.hide-in {
    animation: hide-in 300ms forwards;
    transform-origin: top center;
}

@keyframes hide-in {
    0% {
        visibility: visible;
        height: 100%;
        transform: scaleY(1);
    }
    98% {
        visibility: visible;
        height: 0;
        transform: scaleY(0.05);
    }
    100% {
        visibility: hidden;
        height: 0;
        transform: scaleY(0.05);
    }
}